<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78421384800-ajm10lqv2jk1d9jsfqtuhadut2d40ti6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78421384800-ajm10lqv2jk1d9jsfqtuhadut2d40ti6</string>
	<key>API_KEY</key>
	<string>AIzaSyAbuo3EtNXwdEdjdDrYvvtcK-MOpXCYaMY</string>
	<key>GCM_SENDER_ID</key>
	<string>78421384800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ameliagrigoriev.VeggieCheck</string>
	<key>PROJECT_ID</key>
	<string>veggiecheck-40336</string>
	<key>STORAGE_BUCKET</key>
	<string>veggiecheck-40336.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78421384800:ios:1dd9004c88bc85b03aed05</string>
</dict>
</plist>